/*========================================
Colors
========================================*/

:root {
  --blue-dark-3: #282c34; /* shark */
  --blue-dark-2: #2f323b; /* haiti */
  --blue-dark-1: #393b44; /* mine shaft */
  --gray: #676e95; /* kashmir blue*/
  --cool-gray: #8d93ab; /* cool gray */
  --gray-light: #b0b7bf; /* */
  --blue-sky: #d6e0f0; /* hawkes blue */
  --white-blue: #f1f3f8; /* catskill white */
  --boulder: #878f88; /* boulder */
  --well-red: #BA3935; /* well read */
  --flamingo: #e06956; /* flamingo */
  --salmon: #ff906a; /* salmon */
  --harvest: #e4bf7d; /* harvest gold */
  --yellow: #f8d700; /* tangerine */
  --green: #8AB070; /* asparagus */
  --olive: #98c379; /* olivine */
  --aqua: #4db7bf; /* */
  --red-pink: #f02b54; /* amaranth */
  --pink: #ff6aab; /* hot pink */
  --purple: #c57bdb; /* soft purple */
  --blue: #6294ed; /* */
  --blue-gray: #8a97bf; /* */
  --blue-bright: #84c9f4; /* */
}

/*========================================
Animations
========================================*/

@keyframes colorChange {
  from {
    color: var(--blue-bright);
    top: -4rem;
  }
  to {
    color: var(--white-blue);
    top: 0px;
  }
  /* 0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:-200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;} */
}

/* The element to apply the animation to */
.animated {
  animation-name: colorChange;
  animation-duration: .5s;
  position: relative;
}

.main-nav-item {
  background-size: 100% 200%;
  background-image: linear-gradient(
    to bottom, 
      var(--blue-dark-3) 50%, 
      var(--red-pink) 50%
  );
  transition: background-position .25s;
}

.main-nav-item:hover {
  background-position: 0 100%;
}

.this-page {
  background-size: 100% 200%;
  background-image: linear-gradient(
    to bottom, 
      var(--blue-dark-2) 50%, 
      var(--aqua) 50%
  );
  transition: background-position .25s;
}

.this-page:hover {
  background-position: 0 100%;
}