/* COLOR
 .d8888b.   .d88888b.  888       .d88888b.  8888888b.  
d88P  Y88b d88P" "Y88b 888      d88P" "Y88b 888   Y88b 
888    888 888     888 888      888     888 888    888 
888        888     888 888      888     888 888   d88P 
888        888     888 888      888     888 8888888P"  
888    888 888     888 888      888     888 888 T88b   
Y88b  d88P Y88b. .d88P 888      Y88b. .d88P 888  T88b  
 "Y8888P"   "Y88888P"  88888888  "Y88888P"  888   T88b */

:root {
  --black: RGBA(0,0,0,1);
  --white: RGBA(255,255,255,1);
  --rose0: RGBA(255,241,242,1);
  --rose1: RGBA(255,228,230,1);
  --rose2: RGBA(254,205,211,1);
  --rose3: RGBA(253,164,175,1);
  --rose4: RGBA(251,113,133,1);
  --rose5: RGBA(244,63,94,1);
  --rose6: RGBA(225,29,72,1);
  --rose7: RGBA(190,18,60,1);
  --rose8: RGBA(159,18,57,1);
  --rose9: RGBA(136,19,55,1);
  --pink0: RGBA(253,242,248,1);
  --pink1: RGBA(252,231,243,1);
  --pink2: RGBA(251,207,232,1);
  --pink3: RGBA(249,168,212,1);
  --pink4: RGBA(244,114,182,1);
  --pink5: RGBA(236,72,153,1);
  --pink6: RGBA(219,39,119,1);
  --pink7: RGBA(190,24,93,1);
  --pink8: RGBA(157,23,77,1);
  --pink9: RGBA(131,24,67,1);
  --fuch0: RGBA(253,244,255,1);
  --fuch1: RGBA(250,232,255,1);
  --fuch2: RGBA(245,208,254,1);
  --fuch3: RGBA(240,171,252,1);
  --fuch4: RGBA(232,121,249,1);
  --fuch5: RGBA(217,70,239,1);
  --fuch6: RGBA(192,38,211,1);
  --fuch7: RGBA(162,28,175,1);
  --fuch8: RGBA(134,25,143,1);
  --fuch9: RGBA(112,26,117,1);
  --purp0: RGBA(250,245,255,1);
  --purp1: RGBA(243,232,255,1);
  --purp2: RGBA(233,213,255,1);
  --purp3: RGBA(216,180,254,1);
  --purp4: RGBA(192,132,252,1);
  --purp5: RGBA(168,85,247,1);
  --purp6: RGBA(147,51,234,1);
  --purp7: RGBA(126,34,206,1);
  --purp8: RGBA(107,33,168,1);
  --purp9: RGBA(88,28,135,1);
  --viol0: RGBA(245,243,255,1);
  --viol1: RGBA(237,233,254,1);
  --viol2: RGBA(221,214,254,1);
  --viol3: RGBA(196,181,253,1);
  --viol4: RGBA(167,139,250,1);
  --viol5: RGBA(139,92,246,1);
  --viol6: RGBA(124,58,237,1);
  --viol7: RGBA(109,40,217,1);
  --viol8: RGBA(91,33,182,1);
  --viol9: RGBA(76,29,149,1);
  --indi0: RGBA(238,242,255,1);
  --indi1: RGBA(224,231,255,1);
  --indi2: RGBA(199,210,254,1);
  --indi3: RGBA(165,180,252,1);
  --indi4: RGBA(129,140,248,1);
  --indi5: RGBA(99,102,241,1);
  --indi6: RGBA(79,70,229,1);
  --indi7: RGBA(67,56,202,1);
  --indi8: RGBA(55,48,163,1);
  --indi9: RGBA(49,46,129,1);
  --blue0: RGBA(239,246,255,1);
  --blue1: RGBA(219,234,254,1);
  --blue2: RGBA(191,219,254,1);
  --blue3: RGBA(147,197,253,1);
  --blue4: RGBA(96,165,250,1);
  --blue5: RGBA(59,130,246,1);
  --blue6: RGBA(37,99,235,1);
  --blue7: RGBA(29,78,216,1);
  --blue8: RGBA(30,64,175,1);
  --blue9: RGBA(30,58,138,1);
  --liBl0: RGBA(240,249,255,1);
  --liBl1: RGBA(224,242,254,1);
  --liBl2: RGBA(186,230,253,1);
  --liBl3: RGBA(125,211,252,1);
  --liBl4: RGBA(56,189,248,1);
  --liBl5: RGBA(14,165,233,1);
  --liBl6: RGBA(2,132,199,1);
  --liBl7: RGBA(3,105,161,1);
  --liBl8: RGBA(7,89,133,1);
  --liBl9: RGBA(12,74,110,1);
  --cyan0: RGBA(236,254,255,1);
  --cyan1: RGBA(207,250,254,1);
  --cyan2: RGBA(165,243,252,1);
  --cyan3: RGBA(103,232,249,1);
  --cyan4: RGBA(34,211,238,1);
  --cyan5: RGBA(6,182,212,1);
  --cyan6: RGBA(8,145,178,1);
  --cyan7: RGBA(14,116,144,1);
  --cyan8: RGBA(21,94,117,1);
  --cyan9: RGBA(22,78,99,1);
  --teal0: RGBA(240,253,250,1);
  --teal1: RGBA(204,251,241,1);
  --teal2: RGBA(153,246,228,1);
  --teal3: RGBA(94,234,212,1);
  --teal4: RGBA(45,212,191,1);
  --teal5: RGBA(20,184,166,1);
  --teal6: RGBA(13,148,136,1);
  --teal7: RGBA(15,118,110,1);
  --teal8: RGBA(17,94,89,1);
  --teal9: RGBA(19,78,74,1);
  --emer0: RGBA(236,253,245,1);
  --emer1: RGBA(209,250,229,1);
  --emer2: RGBA(167,243,208,1);
  --emer3: RGBA(110,231,183,1);
  --emer4: RGBA(52,211,153,1);
  --emer5: RGBA(16,185,129,1);
  --emer6: RGBA(5,150,105,1);
  --emer7: RGBA(4,120,87,1);
  --emer8: RGBA(6,95,70,1);
  --emer9: RGBA(6,78,59,1);
  --gree0: RGBA(240,253,244,1);
  --gree1: RGBA(220,252,231,1);
  --gree2: RGBA(187,247,208,1);
  --gree3: RGBA(134,239,172,1);
  --gree4: RGBA(74,222,128,1);
  --gree5: RGBA(34,197,94,1);
  --gree6: RGBA(22,163,74,1);
  --gree7: RGBA(21,128,61,1);
  --gree8: RGBA(22,101,52,1);
  --gree9: RGBA(20,83,45,1);
  --lime0: RGBA(247,254,231,1);
  --lime1: RGBA(236,252,203,1);
  --lime2: RGBA(217,249,157,1);
  --lime3: RGBA(190,242,100,1);
  --lime4: RGBA(163,230,53,1);
  --lime5: RGBA(132,204,22,1);
  --lime6: RGBA(101,163,13,1);
  --lime7: RGBA(77,124,15,1);
  --lime8: RGBA(63,98,18,1);
  --lime9: RGBA(54,83,20,1);
  --yell0: RGBA(254,252,232,1);
  --yell1: RGBA(254,249,195,1);
  --yell2: RGBA(254,240,138,1);
  --yell3: RGBA(253,224,71,1);
  --yell4: RGBA(250,204,21,1);
  --yell5: RGBA(234,179,8,1);
  --yell6: RGBA(202,138,4,1);
  --yell7: RGBA(161,98,7,1);
  --yell8: RGBA(133,77,14,1);
  --yell9: RGBA(113,63,18,1);
  --ambr0: RGBA(255,251,235,1);
  --ambr1: RGBA(254,243,199,1);
  --ambr2: RGBA(253,230,138,1);
  --ambr3: RGBA(252,211,77,1);
  --ambr4: RGBA(251,191,36,1);
  --ambr5: RGBA(245,158,11,1);
  --ambr6: RGBA(217,119,6,1);
  --ambr7: RGBA(180,83,9,1);
  --ambr8: RGBA(146,64,14,1);
  --ambr9: RGBA(120,53,15,1);
  --oran0: RGBA(255,247,237,1);
  --oran1: RGBA(255,237,213,1);
  --oran2: RGBA(254,215,170,1);
  --oran3: RGBA(253,186,116,1);
  --oran4: RGBA(251,146,60,1);
  --oran5: RGBA(249,115,22,1);
  --oran6: RGBA(234,88,12,1);
  --oran7: RGBA(194,65,12,1);
  --oran8: RGBA(154,52,18,1);
  --oran9: RGBA(124,45,18,1);
  --redd0: RGBA(254,242,242,1);
  --redd1: RGBA(254,226,226,1);
  --redd2: RGBA(254,202,202,1);
  --redd3: RGBA(252,165,165,1);
  --redd4: RGBA(248,113,113,1);
  --redd5: RGBA(239,68,68,1);
  --redd6: RGBA(220,38,38,1);
  --redd7: RGBA(185,28,28,1);
  --redd8: RGBA(153,27,27,1);
  --redd9: RGBA(127,29,29,1);
  --wrmG0: RGBA(250,250,249,1);
  --wrmG1: RGBA(245,245,244,1);
  --wrmG2: RGBA(231,229,228,1);
  --wrmG3: RGBA(214,211,209,1);
  --wrmG4: RGBA(168,162,158,1);
  --wrmG5: RGBA(120,113,108,1);
  --wrmG6: RGBA(87,83,78,1);
  --wrmG7: RGBA(68,64,60,1);
  --wrmG8: RGBA(41,37,36,1);
  --wrmG9: RGBA(28,25,23,1);
  --truG0: RGBA(250,250,250,1);
  --truG1: RGBA(245,245,245,1);
  --truG2: RGBA(229,229,229,1);
  --truG3: RGBA(212,212,212,1);
  --truG4: RGBA(163,163,163,1);
  --truG5: RGBA(115,115,115,1);
  --truG6: RGBA(82,82,82,1);
  --truG7: RGBA(64,64,64,1);
  --truG8: RGBA(38,38,38,1);
  --truG9: RGBA(23,23,23,1);
  --gray0: RGBA(250,250,250,1);
  --gray1: RGBA(244,244,245,1);
  --gray2: RGBA(228,228,231,1);
  --gray3: RGBA(212,212,216,1);
  --gray4: RGBA(161,161,170,1);
  --gray5: RGBA(113,113,122,1);
  --gray6: RGBA(82,82,91,1);
  --gray7: RGBA(63,63,70,1);
  --gray8: RGBA(39,39,42,1); --gray8o50: RGBA(39,39,42,.5);
  --gray9: RGBA(24,24,27,1);
  --colG0: RGBA(249,250,251,1);
  --colG1: RGBA(243,244,246,1);
  --colG2: RGBA(229,231,235,1);
  --colG3: RGBA(209,213,219,1);
  --colG4: RGBA(156,163,175,1);
  --colG5: RGBA(107,114,128,1);
  --colG6: RGBA(75,85,99,1);
  --colG7: RGBA(55,65,81,1);
  --colG8: RGBA(31,41,55,1);
  --colG9: RGBA(17,24,39,1);
  --bluG0: RGBA(248,250,252,1);
  --bluG1: RGBA(241,245,249,1);
  --bluG2: RGBA(226,232,240,1);
  --bluG3: RGBA(203,213,225,1);
  --bluG4: RGBA(148,163,184,1);
  --bluG5: RGBA(100,116,139,1);
  --bluG6: RGBA(71,85,105,1);
  --bluG7: RGBA(51,65,85,1);
  --bluG8: RGBA(30,41,59,1);
  --bluG9: RGBA(15,23,42,1);
}

:root[light-dark-colors="light"] .light-hidden {display: none;}
:root[light-dark-colors="light"] {
  --bg: var(--colG2);
  --text: var(--truG6);
  --text-alt-faded: var(--colG4);
  --text-alt-bright: var(--indi5);
  --text-alt-title: var(--truG9);
  --text-hover: var(--truG6);
  --content-bg-img: none;
  --content-bg-img-size: 0;
  --content-bg: var(--white);
  --header-text: var(--colG2);
  --header-bg: var(--truG9);
  --header-bg-img: url("../assets/backgrounds/dflowers-clear-1280.png");
  --header-bg-img-size: 1280px;
  --nav-text: var(--truG9);
  --nav-bg: var(--colG2);
  --nav-border: var(--colG3);
  --mob-nav-button-text: var(--colG2);
  --mob-nav-button-bg: var(--truG9);
  --mob-nav-button-bg-hover: var(--colG3);
  --social-media-icon-bg-hover: var(--accent);
  --social-media-icon-bg: var(--colG5);
  --footer-text: var(--colG5);
  --footer-bg: var(--colG2);
  --footer-border: var(--colG3);
  --button-text: var(--colG2);
  --form-bg: var(--colG2);
  --form-bg-focus: var(--colG1);
  --form-text: var(--gray8);
  --form-text-placeholder: var(--colG5);
  --partner-logo-bg: var(--colG1);
  --divider: var(--colG3);
  --accent-home: var(--pink4);
  --accent-resume: var(--cyan5);
  --accent-writing: var(--oran4);
  --accent-contact: var(--emer5);
  --light-dark-text-weight-adjust: 400;
  --light-dark-title-text-weight-adjust: 450;
  --coll-icon-border-fix: var(--content-bg);
}

:root[light-dark-colors="dark"] .dark-hidden {display: none;}
:root[light-dark-colors="dark"] {
  --bg: var(--gray9);
  --text: var(--colG3);
  --text-alt-faded: var(--colG4);
  --text-alt-bright: var(--liBl3);
  --text-alt-title: var(--colG2);
  --text-hover: var(--colG1);
  --content-bg-img: url("../assets/backgrounds/dflowers-clear-1280.png");
  --content-bg-img-size: 1280px;
  --content-bg: none;
  --header-text: var(--colG2);
  --header-bg: var(--gray9);
  --header-bg-img: none;
  --header-bg-img-size: 0;
  --nav-text: var(--colG2);
  --nav-bg: var(--gray8);
  --nav-border: var(--gray7);
  --mob-nav-button-text: var(--colG2);
  --mob-nav-button-bg: var(--truG9);
  --mob-nav-button-bg-hover: var(--bg);
  --social-media-icon-bg-hover: var(--accent);
  --social-media-icon-bg: var(--gray7);
  --footer-text: var(--gray6);
  --footer-bg: var(--gray9);
  --footer-border: var(--gray7);
  --button-text: var(--colG2);
  --form-bg: var(--gray8);
  --form-bg-focus: var(--gray9);
  --form-text: var(--colG4);
  --form-text-placeholder: var(--colG5);
  --partner-logo-bg: var(--colG2);
  --divider: var(--gray7);
  --accent-home: var(--pink5);
  --accent-resume: var(--cyan6);
  --accent-writing: var(--oran5);
  --accent-contact: var(--emer6);
  --light-dark-text-weight-adjust: 350;
  --light-dark-title-text-weight-adjust: 400;
  --coll-icon-border-fix: RGBA(36, 36, 37, 1);
}

:root[light-dark-colors="light"]#home-page {
  --accent: var(--pink4);
  --accent-hover: var(--pink4);
}
:root[light-dark-colors="light"]#resume-page {
  --accent: var(--cyan5);
  --accent-hover: var(--cyan3);
}
:root[light-dark-colors="light"]#writing-page {
  --accent: var(--oran4);
  --accent-hover: var(--oran4);
}
:root[light-dark-colors="light"]#contact-page {
  --accent: var(--emer5);
  --accent-hover: var(--emer4);
}
:root[light-dark-colors="dark"]#home-page {
  --accent: var(--pink5);
  --accent-hover: var(--pink5);
}
:root[light-dark-colors="dark"]#resume-page {
  --accent: var(--cyan6);
  --accent-hover: var(--cyan4);
}
:root[light-dark-colors="dark"]#writing-page {
  --accent: var(--oran5);
  --accent-hover: var(--oran5);
}
:root[light-dark-colors="dark"]#contact-page {
  --accent: var(--emer6);
  --accent-hover: var(--emer5);
}

:root {
  --rad: 2px;
}

/* RESET
8888888b.  8888888888  .d8888b.  8888888888 88888888888 
888   Y88b 888        d88P  Y88b 888            888     
888    888 888        Y88b.      888            888     
888   d88P 8888888     "Y888b.   8888888        888     
8888888P"  888            "Y88b. 888            888     
888 T88b   888              "888 888            888     
888  T88b  888        Y88b  d88P 888            888     
888   T88b 8888888888  "Y8888P"  8888888888     888     */

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
}

*,
*:before,
*:after {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: var(--text);
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,li,ol,p,ul{font-style:normal;text-decoration:none}h1,h2,h3,h4,h5,h6{font-weight:400}h1{font-size:2.5rem}h2{font-size:2.25rem}h3{font-size:2rem}h4{font-size:1.75rem}h5{font-size:1.5rem}h6{font-size:1.25rem}

p, ul, ol, li, li > span {
  font-size: 17px;
  line-height: 1.75rem;
  font-weight: var(--light-dark-text-weight-adjust);
  letter-spacing: .02rem;
}

/* a {
  letter-spacing: .05rem;
} */

.p-plus > span {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  font-weight: lighter;
}

.upcase {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.italic {
  font-style: italic;
}

.title {
  font-weight: var(--light-dark-title-text-weight-adjust);
}

.transparent {
  opacity: 50%;
}

.divider,
.divider-writing,
.divider-resume {
  height: 1px;
  background: var(--divider);
}

.divider {
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}

.divider-writing {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/* GRID
 .d8888b.  8888888b.  8888888 8888888b.  
d88P  Y88b 888   Y88b   888   888  "Y88b 
888    888 888    888   888   888    888 
888        888   d88P   888   888    888 
888  88888 8888888P"    888   888    888 
888    888 888 T88b     888   888    888 
Y88b  d88P 888  T88b    888   888  .d88P 
 "Y8888P88 888   T88b 8888888 8888888P"  */

.main-head {grid-area: hdm;}
.main-head-left {grid-area: hdl;}
.main-head-right {grid-area: hdr;}
.main-nav {grid-area: nav;}
.content {grid-area: cnt;}
.side-left {grid-area: sbl;}
.side-right {grid-area: sbr;}
.main-footer {grid-area: ftm;}
.main-footer-left {grid-area: ftl;}
.main-footer-right {grid-area: ftr;}

.wrapper {
  display: grid;
  grid-template-columns: 1fr fit-content(800px) 1fr;
  grid-template-areas:
  "hdl hdm hdr"
  "nav nav nav"
  "sbl cnt sbr"
  "ftl ftm ftr";
  background-image: var(--content-bg-img);
  background-position: left;
  background-size: var(--content-bg-img-size);
  background-repeat: repeat;
  background-attachment: fixed;
}

/* HEAD
888    888 8888888888        d8888 8888888b.  
888    888 888              d88888 888  "Y88b 
888    888 888             d88P888 888    888 
8888888888 8888888        d88P 888 888    888 
888    888 888           d88P  888 888    888 
888    888 888          d88P   888 888    888 
888    888 888         d8888888888 888  .d88P 
888    888 8888888888 d88P     888 8888888P"  */

.main-head-full-width-bg {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100vw;
  /* background: rgb(8,145,178);
  background: linear-gradient(135deg, rgba(8,145,178,1) 0%, rgba(0,212,255,1) 100%);
  background: linear-gradient(135deg, rgb(29, 32, 32) 0%, rgb(88, 88, 88) 100%); */
  background-image: var(--header-bg-img);
  background-position: left;
  background-size: var(--header-bg-img-size);
  background-repeat: repeat;
}

.main-head,
.main-head-left,
.main-head-right {
  background: none;
}

.main-head {
  display: flex;
  padding: .75rem 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-head,
.main-head-left,
.main-head-right {
  background: var(--header-bg);
}

.main-head-item {
  color: var(--header-text);
  z-index: 0;
}

/* NAV
888b    888        d8888 888     888 
8888b   888       d88888 888     888 
88888b  888      d88P888 888     888 
888Y88b 888     d88P 888 Y88b   d88P 
888 Y88b888    d88P  888  Y88b d88P  
888  Y88888   d88P   888   Y88o88P   
888   Y8888  d8888888888    Y888P    
888    Y888 d88P     888     Y8P     */

nav {
  display: flex;
  justify-content: center;
}

.main-nav {
  background: var(--nav-bg);
  align-items: center;
  border-bottom: 1px solid var(--nav-border);
}

.main-nav-item {
  display: block;
  color: var(--nav-text);
  padding: .75rem .5625rem;
  margin: 0 .1875rem;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: var(--light-dark-title-text-weight-adjust);
}

.main-nav-item,
.dropdown-nav-item {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, 
    var(--nav-bg) 50%, var(--accent) 50%
  );
  transition: background-position .125s;
}

.main-nav-item:hover,
.dropdown-nav-item:hover {
  background-position: 0 -100%;
}

.this-page {
  background-position: 0 -100%;
}

#home {
  background-image: linear-gradient(to bottom, 
    var(--nav-bg) 50%, var(--accent-home) 50%
  );
}
#resume {
  background-image: linear-gradient(to bottom, 
    var(--nav-bg) 50%, var(--accent-resume) 50%
  );
}
#writing {
  background-image: linear-gradient(to bottom, 
    var(--nav-bg) 50%, var(--accent-writing) 50%
  );
}
#contact {
  background-image: linear-gradient(to bottom, 
    var(--nav-bg) 50%, var(--accent-contact) 50%
  );
}

/*FOOTER
8888888888  .d88888b.   .d88888b.  88888888888 
888        d88P" "Y88b d88P" "Y88b     888     
888        888     888 888     888     888     
8888888    888     888 888     888     888     
888        888     888 888     888     888     
888        888     888 888     888     888     
888        Y88b. .d88P Y88b. .d88P     888     
888         "Y88888P"   "Y88888P"      888     */

.main-footer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem; */
  padding: 1rem 0 3rem 0;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
}

.main-footer,
.main-footer-left,
.main-footer-right {
  background: var(--footer-bg);
  border-top: 1px solid var(--footer-border);
}

.main-footer-item {
  display: flex;
}

.footer-item-right,
.footer-item-left > a {
  position: relative;
  margin: 0 1.5rem;
  font-size: 13.5px;
  font-weight: var(--light-dark-text-weight-adjust);
  font-weight: 400;
  line-height: 17px;
  color: var(--footer-text);
  opacity: 75%;
  letter-spacing: 0;
}

.footer-item-left > a {
  left: 0;
  font-style: italic;
  text-decoration: none;
}

.footer-item-left > a:hover {
  color: var(--accent);
}

.footer-item-right {
  justify-self: right;
  text-align: right;
}

#copyright-1-line {
  display: none;
}

.social-media-icon {
  display: flex;
  vertical-align: bottom;
  height: 35px;
  width: 35px;
  background: var(--social-media-icon-bg);
  border-radius: 50%;
  margin-left: .5rem;
  margin-right: .5rem;
}

.social-media-icon > img {
  display: block;
  margin: auto;
  width: 60%;
}

.social-media-icon:hover {
  background: var(--social-media-icon-bg-hover);
}

/* CONTENT
 .d8888b.   .d88888b.  888b    888 
d88P  Y88b d88P" "Y88b 8888b   888 
888    888 888     888 88888b  888 
888        888     888 888Y88b 888 
888        888     888 888 Y88b888 
888    888 888     888 888  Y88888 
Y88b  d88P Y88b. .d88P 888   Y8888 
 "Y8888P"   "Y88888P"  888    Y888 */

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.content,
.side-right,
.side-left {
  background: var(--content-bg);
}

.content-text-box > * {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.75rem;
  /* color: var(--text); */
}

.content-text-box-full {width: 100%;}
.content-text-box-left {width: 35%;}
.content-text-box-right {width: 65%;}
.content-text-box-left-home {width: 30%;}
.content-text-box-left-home > * {margin-right: 1rem;}
.content-text-box-right-home {width: 70%;}
.content-text-box-right-home > * {margin-left: 1rem;}

/*PHOTO
8888888b.  888    888  .d88888b.  88888888888  .d88888b.  
888   Y88b 888    888 d88P" "Y88b     888     d88P" "Y88b 
888    888 888    888 888     888     888     888     888 
888   d88P 8888888888 888     888     888     888     888 
8888888P"  888    888 888     888     888     888     888 
888        888    888 888     888     888     888     888 
888        888    888 Y88b. .d88P     888     Y88b. .d88P 
888        888    888  "Y88888P"      888      "Y88888P"  */

.headshot-wrapper {
  object-fit: contain;
}

.headshot-wrapper > img {
  width: 100%;
  overflow: hidden;
  display: block;
  border: 1px solid var(--divider);
}

/*RESUME
8888888b.  8888888888  .d8888b.  
888   Y88b 888        d88P  Y88b 
888    888 888        Y88b.      
888   d88P 8888888     "Y888b.   
8888888P"  888            "Y88b. 
888 T88b   888              "888 
888  T88b  888        Y88b  d88P 
888   T88b 8888888888  "Y8888P"  */

.collapsible-header {
  cursor: pointer;
  display: flex;
  /* background: var(--colG1); */
  border-radius: var(--rad);
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.collapsible-header:hover .ci-wrapper > .collapsible-icon {
  background: var(--accent-hover);
  /* border: 1px solid var(--cyan4); */
}

.collapsible-header:hover h5 {
  color: var(--text-hover);
}

.ci-wrapper {
  margin-right: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: none;
  transition: transform .5s;
}

.collapsible-icon {
  height: 1.25rem;
  width: 1.25rem;
  /* border: 1px solid var(--cyan5); */
  clip-path: polygon(40% 0, 60% 0, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%, 0 40%, 40% 40%);
  background: var(--accent);
  position: relative;
}

/* .collapsible-icon::before {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -1px;
  left: -1px;
  content: "";
  height: 22px;
  width: 22px;
  border: 2px solid var(--coll-icon-border-fix);
  z-index: 1;
} */

.coll-icon-bg {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  top: calc(-1.25rem - 1px);
  left: -1px;
  height: 18px;
  width: 18px;
  border: 2px solid var(--coll-icon-border-fix);
  z-index: 1;
}

.rotated .ci-wrapper {
  /* background: var(--cyan5); */
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rotated:hover .ci-wrapper > .collapsible-icon {
  background: var(--accent-hover);
}

.coll-header-text {
  margin-left: .5rem;
}

.resume-titles {
  display: flex;
  justify-content: space-between;
}

.resume-title {
  font-weight: var(--light-dark-title-text-weight-adjust);
  margin-bottom: 0;
  line-height: 1em;
}

.resume-titles + p {
  margin-top: .5rem;
  padding-left: 2px;
}

.resume-date {
  /* color: var(--text-alt-faded); */
  font-weight: 400;
}

.divider-resume {
  width: calc(100% - 4.75rem);
  position: relative;
  right: calc(-.875rem);
}

.collapsible-content > .divider-resume {
  margin-top: 0;
  width: 100%;
  right: calc(-1.75rem);
}

.collapsible-content {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
  /* background: var(--colG2); */
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: none;
}

li {
  margin-bottom: .25rem;
  margin-left: calc(1.75rem + 10px);
  padding-left: 10px;
  text-indent: -10px;
}

li::before {
  content: "▸";
  color: var(--accent);
  position: relative;
  left: -10px;
}

li > span {
  color: var(--text);
}

/*WRITING
888       888 8888888b.  8888888 88888888888 
888   o   888 888   Y88b   888       888     
888  d8b  888 888    888   888       888     
888 d888b 888 888   d88P   888       888     
888d88888b888 8888888P"    888       888     
88888P Y88888 888 T88b     888       888     
8888P   Y8888 888  T88b    888       888     
888P     Y888 888   T88b 8888888     888     */

#closed-system-title {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.centered-title {
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 0;
  font-family: 'Jura', sans-serif;
  font-weight: 600;
  color: var(--text-alt-title);
}

.centered-subtitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 17px;
}

.p1 > span,
span > em,
.ping-span {
  font-size: 17px;
  font-weight: var(--light-dark-text-weight-adjust);
  line-height: 1.75rem;
}

.p1 > span,
span > em {
  color: var(--text);
}

.ping-p > span,
.ping-span {
  color: var(--text-alt-faded);
}

.p2 {
  margin-top: 0;
  margin-left: 3rem;
  margin-right: 2.5rem;
  margin-bottom: .5rem;
  line-height: 1rem;
}

.p2 > span {
  font-size: 1rem;
  font-family: monospace;
  font-weight: normal;
  color: var(--cyan5);
}

.bar-wrapper {
  display: flex;
  justify-content: center;
}

.bar {
  width: 150px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.bar-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: var(--text-alt-faded);
  margin: 0 10px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*PARTNER LOGOS
888       .d88888b.   .d8888b.   .d88888b.  
888      d88P" "Y88b d88P  Y88b d88P" "Y88b 
888      888     888 888    888 888     888 
888      888     888 888        888     888 
888      888     888 888  88888 888     888 
888      888     888 888    888 888     888 
888      Y88b. .d88P Y88b  d88P Y88b. .d88P 
88888888  "Y88888P"   "Y8888P88  "Y88888P"  */

.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 2rem;
  width: 85%;
  justify-items: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.logo-grid > img {
  height: 65px;
  width: 9rem; /* 144px */
  /* background: var(--colG3); */
}

/*CONTACT FORM
8888888888  .d88888b.  8888888b.  888b     d888 
888        d88P" "Y88b 888   Y88b 8888b   d8888 
888        888     888 888    888 88888b.d88888 
8888888    888     888 888   d88P 888Y88888P888 
888        888     888 8888888P"  888 Y888P 888 
888        888     888 888 T88b   888  Y8P  888 
888        Y88b. .d88P 888  T88b  888   "   888 
888         "Y88888P"  888   T88b 888       888 */

/* .contact-button {
  margin-left: 1px;
} */

.contact-label {
  display: none;
}

::placeholder {
  color: var(--form-text-placeholder);
  text-transform: uppercase;
  letter-spacing: .1rem;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: .75rem;
  border: 1px solid var(--divider);
  border-radius: var(--rad);
  box-sizing: border-box;
  margin-bottom: 1rem;
  resize: none;
  color: var(--form-text);
  background-size: 200% 100%;
  background-image: linear-gradient(
    to left,
      var(--form-bg-focus) 50%,
      var(--form-bg) 50%
  );
  transition: background-position .25s;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none;
  background-position: -100% 0;
}

input[type=text]:focus label,
input[type=email]:focus label,
textarea:focus label {
  visibility: hidden;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--accent);
  color: var(--button-text);
  padding: 9px 15px;
  border: 3px solid var(--accent);
  margin-bottom: .5rem;
  border-radius: var(--rad);
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--accent-hover);
  border: 3px solid var(--accent-hover);
}

/*LIGHT-DARK SWITCH
 .d8888b.  888       888 8888888 88888888888 
d88P  Y88b 888   o   888   888       888     
Y88b.      888  d8b  888   888       888     
 "Y888b.   888 d888b 888   888       888     
    "Y88b. 888d88888b888   888       888     
      "888 88888P Y88888   888       888     
Y88b  d88P 8888P   Y8888   888       888     
 "Y8888P"  888P     Y888 8888888     888     */

.theme-switch-label {
  position: absolute;
  left: 635px;
  color: var(--header-text);
  font-size: 1rem;
  text-justify: left;
}

.theme-switch {
  position: absolute;
  right: 0;
  width: 50px;
  height: 30px;
  margin-right: 1.5rem;
  border-radius: 15px;
  overflow: hidden;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colG3);
  /* box-shadow: inset 0 0 3px .25px var(--colG4); */
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  right: 25px;
  bottom: 5px;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 3px .25px var(--colG4);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: var(--colG3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.preload,
.preload:before {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/*MEDIA
888b     d888 8888888888 8888888b.  8888888        d8888 
8888b   d8888 888        888  "Y88b   888         d88888 
88888b.d88888 888        888    888   888        d88P888 
888Y88888P888 8888888    888    888   888       d88P 888 
888 Y888P 888 888        888    888   888      d88P  888 
888  Y8P  888 888        888    888   888     d88P   888 
888   "   888 888        888  .d88P   888    d8888888888 
888       888 8888888888 8888888P"  8888888 d88P     888 */

.mobile-nav-button,
.dropdown-content {
  display: none;
}

@media (max-width: 800px) {
  .content-text-box-left-home {
    display: none;
  }
  .content-text-box-right-home {
    width: 100%;
  }
  .content-text-box-right-home > * {
    margin-left: 1.5rem;
  }

  .theme-switch-label {
    display: none;
  }

  .content-text-box-left,
  .content-text-box-right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .content-text-box-left-home {
    display: none;
  }
  .content-text-box-right-home {
    width: 100%;
  }
  .content-text-box-right-home > * {
    margin-left: 1.5rem;
  }

  .content-text-box-left,
  .content-text-box-right {
    width: 100%;
  }
  .bullet-fix {
    padding-left: 0;
  }
  li {
    list-style-type: none;
  }
  li::marker {
    content: "‎‏‏‎‏‏‎‏‏";
  }

  .main-head {
    display: none;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-nav {
    align-items: center;
  }
  .main-nav-item {
    display: none;
  }
  .mobile-nav-button {
    display: block;
    position: relative;
    width: 100%;
    padding: .75rem 1.5rem;
    background: var(--mob-nav-button-bg);
    border: none;
    z-index: 1;
  }
  .mobile-nav-button > div {
    color: var(--mob-nav-button-text);
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    float: right;
  }

  .dropdown-icon {
    height: 20px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
  }
  .dropdown-icon > div {
    background: var(--mob-nav-button-text);
    height: 4px;
    width: 100%;
    border-radius: var(--rad);
  }
  .dropdown-icon > div:nth-child(2) {
    margin: 4px 0;
  }
  .dropdown {
    width: 100%;
  }
  .dropdown-content {
    display: block;
    position: absolute;
    top: -144px;
    width: 100%;
    /* z-index: 1; */
    transition: .25s;
  }
  .dropdown-content > a {
    display: block;
    text-decoration: none;
  }
  .dropdown-nav-item > div {
    display: block;
    padding: .75rem 1.5rem;
    color: var(--nav-text);
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
  .dropdown-nav-item:hover > div {
    /* color: var(--accent); */
    background: var(--mob-nav-button-bg-hover);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transform: translateY(192px);
  }
  .dropdown:hover .mobile-nav-button > .dropdown-icon > .dropdown-icon-bar{
    background: var(--accent);
  }

  .main-nav-item,
  .dropdown-nav-item {
    background-size: 100%;
    background-image: linear-gradient(to bottom, 
    var(--nav-bg) 50%, var(--nav-bg) 50%
    );
  }

  .main-footer {
    display: flex;
    flex-direction: column;
  }
  .main-footer-item {
    text-align: center;
    margin: .5rem 1.5rem;
  }
  .footer-item-center {
    order: -1;
  }
  #copyright-2-line {
    display: none;
  }
  #copyright-1-line {
    display: flex;
  }
}